<%- include('partials/header'); -%>

<div class="content">
    <h1> <%= title %> </h1>
    <img src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64') %>" class="postImg" alt="post image">
    <p><%=  content %> </p>
    <div class="postdate">Published by veritasblog at <%= date %></div>
</div>


<%- include('partials/footer'); -%>

